body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.product-card {
  width: 90%;
  max-width: 300px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #1f3e35;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.product-card__image-block {
  width: 100%;
  height: 290px;
  overflow: hidden;
}
.product-card__image-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.product-card:hover .product-card__image-block img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.product-card__content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 480px) {
  .product-card__content {
    padding: 10px;
  }
}
.product-card__title {
  margin: 0;
  color: #d5c9bc;
  font-size: 1.2rem;
}
.product-card__description {
  color: #6e737a;
  font-size: 0.9rem;
}
.product-card__price {
  font-weight: bold;
  color: #d5c9bc;
  font-size: 1.1rem;
}
@media (max-width: 480px) {
  .product-card__price {
    font-size: 1.1rem;
  }
}
.product-card__button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #a68912;
  color: white;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.product-card__button:hover {
  background-color: rgb(119.9891304348, 99.027173913, 13.0108695652);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.product-card__button:active {
  background-color: rgb(230.5923913043, 191.2690217391, 29.9076086957);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.product-card__button {
  margin-top: 10px;
}
@media (max-width: 480px) {
  .product-card__button {
    padding: 15px;
  }
}