body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.product-card {
  width: 90%;
  max-width: 300px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #371919;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-card__image-block {
  width: 100%;
  height: 290px;
}
.product-card__image-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.product-card__content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 480px) {
  .product-card__content {
    padding: 10px;
  }
}
.product-card__title {
  margin: 0;
  color: #d5c9bc;
  font-size: 1.2rem;
}
.product-card__description {
  color: #6e737a;
  font-size: 0.9rem;
}
.product-card__price {
  font-weight: bold;
  color: #d5c9bc;
  font-size: 1.1rem;
}
@media (max-width: 480px) {
  .product-card__price {
    font-size: 1.1rem;
  }
}
.product-card__button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #a18079;
  color: white;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.product-card__button:hover {
  background-color: rgb(135.7631578947, 102.3289473684, 95.2368421053);
}
.product-card__button:active {
  background-color: rgb(192.5394736842, 170.6118421053, 165.9605263158);
}
.product-card__button {
  margin-top: 10px;
}
@media (max-width: 480px) {
  .product-card__button {
    padding: 15px;
  }
}