$color-primary: #a68912;
$color-text-main: #d5c9bc;
$color-text-muted: #6e737a;
$card-bg: #1f3e35;
$border-radius: 12px;
$bg-color: #a18079;

$mobile: 480px;
$tablet: 768px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: $mobile) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (max-width: $tablet) {
      @content;
    }
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}


@mixin button-theme($bg-color) {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: $bg-color;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }

  &:active {
    background-color: lighten($bg-color, 15%);
  }

}

.product-card {
  width: 90%;
  max-width: 300px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
  overflow: hidden;
  font-family: sans-serif;
  background-color: $card-bg;
  transition: all 0.3s ease-in-out;


  &__image-block {
    width: 100%;
    height: 290px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include respond-to("mobile") {
      padding: 10px;
    }
  }

  &__title {
    margin: 0;
    color: $color-text-main;
    font-size: 1.2rem;
  }

  &__description {
    color: $color-text-muted;
    font-size: 0.9rem;
  }

  &__price {
    font-weight: bold;
    color: $color-text-main;
    font-size: 1.1rem;

    @include respond-to("mobile") {
      font-size: 1.1rem;
    }
  }

  &__button {
    @include button-theme($color-primary);
    margin-top: 10px;

    @include respond-to("mobile") {
      padding: 15px;
    }
  }
}


